<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- 继承默认配置 -->
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="org.springframework.web" level="WARN" />

	<!-- 日志存储路径 -->
	<property name="LOG_HOME" value="logs" />

	<!-- 文件输出配置 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/market.log</File>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
			<FileNamePattern>${LOG_HOME}/temp/market.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<!-- keep 30 days' worth of history 保存天数 -->
			<maxHistory>30</maxHistory>
			<!-- 日志大小 -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>2MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 [%thread] -->
			<Pattern> %boldGreen(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %cyan(%-35logger{35}) - %msg %n</Pattern>
			<charset>UTF-8</charset> <!-- 此处设置字符集 -->
		</encoder>
	</appender>

	<!-- root节点，配置日志级别，添加输出节点 -->
	<root level="INFO">
		<appender-ref ref="FILE"></appender-ref>
	</root>
</configuration>