#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jeecg-P3插件开发平台</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="$!{basePath}/plug-in-ui/css/bootstrap.css" rel="stylesheet">
    <link href="$!{basePath}/plug-in-ui/css/style.css" rel="stylesheet">
	<link href="$!{basePath}/plug-in-ui/css/mycss/kongjian.css" rel="stylesheet">
    <link rel="stylesheet" href="$!{basePath}/plug-in-ui/hplus/css/font-awesome.css"/>
	<style>
		.table tr th:first-child input[type="checkbox"],
		.table tr td:first-child input[type="checkbox"] {
			width:16px;
			height:16px;
		}
    </style>
##    引入js文件
    <script type="text/javascript" src="$!{basePath}/plug-in-ui/js/iFrameResize.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/respond.min.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/bootstrap.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/common.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/jquery.form.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/scrollNav.js"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/My97DatePicker/WdatePicker.js" language="javascript"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/layer/layer.js" language="javascript"></script>
	<script >
		$(function(){
			$(".table tr td:first-child input[type='checkbox']").each(function(){
				$(this).parent().css("text-align","center");
				$(this).parent().css("width","30px");
			});
			$(".table tr th:first-child input[type='checkbox']").each(function(){
				$(this).parent().css("text-align","center");
				$(this).parent().css("width","30px");
			});
		});
    </script>
</head>
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/system/jpSystemRole.do?list" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading">列表</div>
						<div class="panel-body">
							<div class="search">
										 <div class="form-group col-sm-3">
											<label for="roleId" class="control-label col-sm-3 line34">角色编码</label>
											<div class="col-sm-8">
												<input type="text" name="roleId" id="roleId" value="$!{jpSystemRole.roleId}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="roleName" class="control-label col-sm-3 line34">角色名称</label>
											<div class="col-sm-8">
												<input type="text" name="roleName" id="roleName" value="$!{jpSystemRole.roleName}" class="form-control">
											</div>
										 </div>
								<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜  索</button>
								<div class="clearfix"></div>
							</div>
							<div id="legend">
								<legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/system/jpSystemRole.do?toAdd')" ><i class="fa fa-plus"></i> 新增</button></legend> 
							</div>
							<table class="table table-striped">
								<thead>
									<th>
										<input type="checkbox" name="ckAll" id="ckAll" />
					        		</th>
									<th>角色编码</th>
									<th>角色名称</th>
									<th>操作</th>
								</thead>
								<tbody>
								#if($!{pageInfos})
									#foreach($!{info} in $!{pageInfos})
										<tr>	
											<td>
												<input type="checkbox" name="ck" id="ck_$!{velocityCount}" value="$!{info.id}"/>
											</td>	
											<td>$!{info.roleId}</td>
											<td>$!{info.roleName}</td>
											<td class="last">
											<a class="btn btn-warning btn-xs" href="javascript:showPrivilegeTree('$!{basePath}/system/jpSystemRole/toPrivilegeTree.do?id=$!{info.id}','角色授权')">角色授权</a>
											<a class="btn btn-success btn-xs"  href="javascript:doUrl('$!{basePath}/system/jpSystemRole.do?toEdit&id=$!{info.id}')" ><i class="fa fa-edit"></i> 编辑</a>
											<a class="btn btn-danger btn-xs" href="javascript:delData('$!{basePath}/system/jpSystemRole.do?doDelete&id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>
							<div class="text-right">
								<!--公用翻页代码-->
								#set($attr='formSubmit')
								#showPageList($pageInfos $attr)
								<!--END公用翻页代码-->
							</div>
						</div>
					</div>
				</div>  
			</form>
		</div>
	</div>
	
	
	<!-- Modal -->
<div class="modal fade" id="privilegeTreeModal" tabindex="-1" role="dialog" aria-labelledby="privilegeTreeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="privilegeTreeModalLabel">角色授权</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" id="dialogFormClose"  data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="saveAuth('$!{basePath}/system/jpSystemRole/editRoleAuth.do');" >提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
function showPrivilegeTree(url,title){ 
	if(url.indexOf('?')>-1){
 		url += '&t=' + Math.random(1000);  
 	}else{
 		url += '?t=' + Math.random(1000);  
 	}
 	$('#privilegeTreeModalLabel').html(title);
	jQuery.ajax({
      url: url,
      cache: false,
	  dataType: "html",
      success: function(data){
        $('#privilegeTreeModal .modal-body').html(data); 
      },  
      error: function(data, status, e){  
      	if(data.status == "401"){
				alert("没有权限！");
				return;
			}
      }
    });
	$('#privilegeTreeModal').modal({show:true,backdrop:false});
} 
</script>
</body>
</html>