jeecg-p3-base-system/.project
jeecg-p3-base-system/.project
jeecg-p3-base-system/.settings/org.eclipse.wst.validation.prefs
jeecg-p3-biz-fresh/.classpath
jeecg-p3-biz-fresh/.settings/org.eclipse.wst.common.component
jeecg-p3-biz-fresh/.settings/org.eclipse.wst.common.project.facet.core.xml
jeecg-p3-starter-web/.settings/*
jeecglogs/jeecg-p3.log
jeecg-p3-starter-web/velocity.log
jeecglogs/jeecg-p3.log
/jeecglogs/jeecg-p3.log
/jeecg-p3-base-system/.classpath
/jeecg-p3-base-system/.project
/jeecg-p3-base-system/.settings/org.eclipse.jdt.core.prefs
/jeecg-p3-biz-fresh/.classpath
/jeecg-p3-biz-fresh/.project
/jeecg-p3-biz-fresh/.settings/org.eclipse.jdt.core.prefs
/jeecg-p3-biz-fresh/.settings/org.eclipse.wst.validation.prefs
/jeecg-p3-core-ui/.classpath
/jeecg-p3-core-ui/.project
/jeecg-p3-core-ui/.settings/org.eclipse.jdt.core.prefs
/jeecg-p3-generator-project/.classpath
/jeecg-p3-generator-project/.settings/org.eclipse.jdt.core.prefs
/jeecg-p3-starter-web/.classpath
/jeecg-p3-starter-web/.project
/jeecg-p3-starter-web/.settings/org.eclipse.jdt.core.prefs
/jeecg-p3-starter-web/.settings/org.eclipse.wst.common.component
/jeecglogs/*
/jeecg-p3-starter-web/.project
/jeecg-p3-starter-web/.settings/*
jeecglogs/*
