jeecg-p3-base-system/.project
jeecg-p3-base-system/.project
jeecg-p3-base-system/.settings/org.eclipse.wst.validation.prefs
jeecg-p3-biz-fresh/.classpath
jeecg-p3-biz-fresh/.settings/org.eclipse.wst.common.component
jeecg-p3-biz-fresh/.settings/org.eclipse.wst.common.project.facet.core.xml
jeecg-p3-starter-web/.settings/*
