<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>jeecg-p3框架 - 选择登陆机构</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="$!{basePath}/plug-in-ui/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="$!{basePath}/plug-in-ui/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="$!{basePath}/plug-in-ui/hplus/css/animate.css" rel="stylesheet">
    <link href="$!{basePath}/plug-in-ui/hplus/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
	<link rel="stylesheet" href="$!{basePath}/content/layui/css/layui.css">
	<script src="$!{basePath}/content/layui/layui.js"></script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <form class="m-t" role="form" id="changeDepartForm">
				<input type="hidden" name="userid" id="userid" value="$!{userid}" />
				#if($!{departList})
					#foreach($!{depart} in $!{departList})
        				<div class="form-group mno">
        					<input type="radio" name="departid" value="$!{depart.id}" #if($velocityCount == 1) checked="checked" #end/>
        					<span>$!{depart.departname}</span>
                        </div>
					#end
				#end
				<div class="form-group mno">
					<div class="col-sm-offset-1 col-sm-6">
						<input type="button" class="btn btn-primary" id="formSubmit" value="确  定"/>
					 </div>
				</div>
            </form>
        </div>
    </div>
    <script src="$!{basePath}/plug-in-ui/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="$!{basePath}/plug-in-ui/hplus/js/bootstrap.min.js?v=3.3.6"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
    <script>
		jQuery("#formSubmit").bind('click',function(){
			jQuery.ajax({
				url:'$!{basePath}/login.do?setDefaultDepart',
				data:{
					userid:jQuery("#userid").val(),
					departid:jQuery('input:radio:checked').val()
				},
				async : false,  
    	        cache:false,  
    	        type: 'POST',  
    	        dataType : "json",
				success: function(res){
					console.log(res);
					if(res.success){
						window.top.location.href="$!{basePath}/authcenter/index.do";
					}
				}
			});
		});
	</script>
</body>
</html>
