<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>jeecg-p3框架 - 忘记密码</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="$!{basePath}/plug-in-ui/hplus/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="$!{basePath}/plug-in-ui/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="$!{basePath}/plug-in-ui/hplus/css/animate.css" rel="stylesheet">
    <link href="$!{basePath}/plug-in-ui/hplus/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
	<link rel="stylesheet" href="$!{basePath}/content/layui/css/layui.css">
    <script>if(window.top !== window.self){ window.top.location = window.location;}</script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">P3</h1>

            </div>
            <h3>发送重置密码邮件</h3>

            <form class="m-t" role="form" id="loginForm">
                <div class="form-group">
					<div class="col-sm-4">
						<span>请填写邮箱</span>
                    </div>
                    <input type="text" class="form-control col-sm-6" name="email" id="email" placeholder="邮箱地址" nullmsg="请填写邮箱地址" datatype="e">
                </div>
				<input type="button" class="btn btn-primary block full-width m-b " id="loginBtn" onclick="javascript:;" value="发  送"/>
            </form>
        </div>
    </div>
   <script type="text/javascript" src="$!{basePath}/content/layui/layui.js"></script>
    <script type="text/javascript" src="$!{basePath}/plug-in-ui/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="$!{basePath}/plug-in-ui/hplus/js/bootstrap.min.js?v=3.3.6"></script>
	<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
    <script>
		jQuery("#loginForm").Validform({
			tiptype:function(resultMsg,o,cssctl){
				if(o.type == 3){
					msg(resultMsg,2,3*1000);
				}
			}
		});
		
		function msg(content,icon,time){
            layui.use(['layer'], function(){
              var layer = layui.layer;
              layer.msg(content,{
              	icon:icon,
				offset: 't',
            	time:time
              });
            });
        }
	</script>
</body>
</html>
