#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/fresh/fDOrder.do?list" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
					<div class="panel panel-default">
						<div class="panel-heading">列表</div>
						<div class="panel-body">
							<div class="search">
										 <div class="form-group col-sm-3">
											<label for="backtype" class="control-label col-sm-3 line34">backType</label>
											<div class="col-sm-8">
												<input type="text" name="backtype" id="backtype" value="$!{fDOrder.backtype}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="deliveryterminal" class="control-label col-sm-3 line34">deliveryTerminal</label>
											<div class="col-sm-8">
												<input type="text" name="deliveryterminal" id="deliveryterminal" value="$!{fDOrder.deliveryterminal}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="destination" class="control-label col-sm-3 line34">destination</label>
											<div class="col-sm-8">
												<input type="text" name="destination" id="destination" value="$!{fDOrder.destination}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="gobad" class="control-label col-sm-3 line34">goBad</label>
											<div class="col-sm-8">
												<input type="text" name="gobad" id="gobad" value="$!{fDOrder.gobad}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="itemid" class="control-label col-sm-3 line34">itemId</label>
											<div class="col-sm-8">
												<input type="text" name="itemid" id="itemid" value="$!{fDOrder.itemid}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="orderdate" class="control-label col-sm-3 line34">orderDate</label>
											<div class="col-sm-8">
												<input type="text" name="orderdate" id="orderdate" value="$!{fDOrder.orderdate}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="orderstatus" class="control-label col-sm-3 line34">orderStatus</label>
											<div class="col-sm-8">
												<input type="text" name="orderstatus" id="orderstatus" value="$!{fDOrder.orderstatus}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="ordertype" class="control-label col-sm-3 line34">orderType</label>
											<div class="col-sm-8">
												<input type="text" name="ordertype" id="ordertype" value="$!{fDOrder.ordertype}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="transtemperature" class="control-label col-sm-3 line34">transTemperature</label>
											<div class="col-sm-8">
												<input type="text" name="transtemperature" id="transtemperature" value="$!{fDOrder.transtemperature}" class="form-control">
											</div>
										 </div>
										 <div class="form-group col-sm-3">
											<label for="transtype" class="control-label col-sm-3 line34">transType</label>
											<div class="col-sm-8">
												<input type="text" name="transtype" id="transtype" value="$!{fDOrder.transtype}" class="form-control">
											</div>
										 </div>
								<button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> 搜  索</button>
								<button type="button" class="btn btn-primary" onclick="searchReset()"><i class="fa fa-refresh"></i> 重  置</button>
								<div class="clearfix"></div>
							</div>
							<div id="legend">
								<legend  class="le">
									<button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/fresh/fDOrder.do?toAdd')" ><i class="fa fa-plus"></i> 新增</button> 
									<button type="button" class="btn btn-primary" onclick="batchDelete()" ><i class="fa fa-trash-o"></i> 批量删除</button>
								</legend>
							</div>
							<table class="table table-striped">
								<thead>
									<th>
											<input type="checkbox" name="ckAll" id="ckAll" />
					        		</th>
											<th>backType</th>
											<th>deliveryTerminal</th>
											<th>destination</th>
											<th>goBad</th>
											<th>itemId</th>
											<th>orderDate</th>
											<th>orderStatus</th>
											<th>orderType</th>
											<th>transTemperature</th>
											<th>transType</th>
									<th>操作</th>
								</thead>
								<tbody>
								#if($!{pageInfos})
									#foreach($!{info} in $!{pageInfos})
										<tr>	
											<td>
													<input type="checkbox" name="ck" id="ck_$!{velocityCount}" value="$!{info.id}"/>
											</td>	
														<td>$!{info.backtype}</td>
														<td>$!{info.deliveryterminal}</td>
														<td>$!{info.destination}</td>
														<td>$!{info.gobad}</td>
														<td>$!{info.itemid}</td>
														<td>$!{info.orderdate}</td>
														<td>$!{info.orderstatus}</td>
														<td>$!{info.ordertype}</td>
														<td>$!{info.transtemperature}</td>
														<td>$!{info.transtype}</td>
											<td class="last">
											<a class="btn btn-success btn-xs"  href="javascript:doUrl('$!{basePath}/fresh/fDOrder.do?toEdit&id=$!{info.id}')" ><i class="fa fa-edit"></i> 编辑</a>
											<a class="btn btn-danger btn-xs" href="javascript:delData('$!{basePath}/fresh/fDOrder.do?doDelete&id=$!{info.id}')"><i class="fa fa-trash-o"></i> 删除</a>
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>
							<div class="text-right">
								<!--公用翻页代码-->
								#set($attr='formSubmit')
								#showPageList($pageInfos $attr)
								<!--END公用翻页代码-->
							</div>
						</div>
					</div>
				</div>  
			</form>
		</div>
	</div>
</body>
</html>
<script>
$("#ckAll").click(function(){ 
	if($(this).prop("checked")){ 
	 $(":checkbox").prop("checked",true) 
	}else{ 
	$(":checkbox").prop("checked",false)  
	} 
}); 

//jquery获取复选框值    
function getCkValue(){  
  var chk_value =[];    
  $('input[name="ck"]:checked').each(function(){    
   chk_value.push($(this).val());    
  });    
  //alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);    
}
//获得所有选中行的ID进行批量删除
function batchDelete() {
    var ids = [];
    var check = document.getElementsByName("ck");
    for(var i=0;i<check.length;i++){
        if(check[i].checked){
    		ids.push(check[i].value);
        }
    }
   	if(ids.length > 0) {
    	parent.layer.confirm('确认进行批量删除吗？', {
        	btn: ['确定','取消'] //按钮
    	}, function(){
       		jQuery.ajax({
       			url : '$!{basePath}/fresh/fDOrder.do?batchDelete',
       			data : {
       				ids : ids,
       			},
       			type : 'POST',
    			dataType: 'json',
       			traditional:true,
    			success:function(data) {
    				if(data.success){
    					parent.layer.alert(data.msg, {
    	        	        icon: 1,
    	        	        shadeClose: false,
    	        	        title: '提示'
    	        	    },function(index){
    						document.getElementById('formSubmit').submit();
    	        	    	parent.layer.close(index);
    					});
    				}else {
    					layeralert(data.msg,0);
    				}
    			},
    			error: function(data, status, e){  
    	        	if(data.status == "401"){
    	        		layeralert("没有权限！",0);
    					return;
    				}
    	        }
       		});
		});
   	}else {
		layeralert("您还没有选择要删除的行");
   	}
}
//重置按钮    
function searchReset() {
	$("#formSubmit").find(":input").val("");
	$("#formSubmit").submit();
}
</script>