#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow: scroll; overflow-x: hidden'>
	<div class="container bs-docs-container" style="width: 100%;">
		<div class="row">
			<form role="form" class="form-inline"
				action="/jeecg-p3-starter-web/fresh/fDStore.do?list" method="post"
				id="formSubmit">
				<div class="col-md-10" style="width: 100%; height: 100%">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="search" style="width: 100%; min-height: 200px;">
								<div class="form-group col-sm-3">
									<ul>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">开始日期</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">结束日期</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
									</ul>
								</div>
								<div class="form-group col-sm-3">
									<ul>
										<li><label for="location"
											class="control-label col-sm-3 line34">商 品</label></li>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">商品类型</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">商品名称</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
									</ul>
								</div>
								<div class="form-group col-sm-3">
									<ul>
										<li><label for="location"
											class="control-label col-sm-3 line34">仓 库</label></li>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">仓库地点</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">仓库类型</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
										<li><div class="form-group row">
												<label for="location" class="control-label col-sm-3 line34">仓库名称</label>
												<div class="col-sm-8">
													<input type="text" name="location" id="location" value=""
														class="form-control">
												</div>
											</div></li>
									</ul>
								</div>
								<div class="form-group col-sm-3">
									<button type="submit" class="btn btn-primary">
										<!-- <i class="fa fa-search"></i>  -->
										导 出
									</button>
									<button type="button" class="btn btn-primary"
										onclick="searchReset()">
										<!-- <i class="fa fa-refresh"></i> -->
										打 印
									</button>
									<br> <br> <br>
									<button type="button" class="btn btn-primary"
										onclick="findGrid()">
										<i class="fa fa-search"></i> 加 载
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
<script>
    $("#ckAll").click(function() {
	if ($(this).prop("checked")) {
	    $(":checkbox").prop("checked", true)
	} else {
	    $(":checkbox").prop("checked", false)
	}
    });

    //jquery获取复选框值    
    function getCkValue() {
	var chk_value = [];
	$('input[name="ck"]:checked').each(function() {
	    chk_value.push($(this).val());
	});
	//alert(chk_value.length==0 ?'你还没有选择任何内容！':chk_value);    
    }
    //获得所有选中行的ID进行批量删除
    function batchDelete() {
	var ids = [];
	var check = document.getElementsByName("ck");
	for (var i = 0; i < check.length; i++) {
	    if (check[i].checked) {
		ids.push(check[i].value);
	    }
	}
	if (ids.length > 0) {
	    parent.layer.confirm('确认进行批量删除吗？', {
		btn : [ '确定', '取消' ]
	    //按钮
	    }, function() {
		jQuery.ajax({
		    url : '$!{basePath}/fresh/fDStoreItems.do?batchDelete',
		    data : {
			ids : ids,
		    },
		    type : 'POST',
		    dataType : 'json',
		    traditional : true,
		    success : function(data) {
			if (data.success) {
			    parent.layer.alert(data.msg, {
				icon : 1,
				shadeClose : false,
				title : '提示'
			    }, function(index) {
				document.getElementById('formSubmit').submit();
				parent.layer.close(index);
			    });
			} else {
			    layeralert(data.msg, 0);
			}
		    },
		    error : function(data, status, e) {
			if (data.status == "401") {
			    layeralert("没有权限！", 0);
			    return;
			}
		    }
		});
	    });
	} else {
	    layeralert("您还没有选择要删除的行");
	}
    }
    function findGrid() {
	jQuery.ajax({
	    url : '$!{basePath}/fresh/fDStoreItems.do?findGrid',
	    data : {
		staDate : '201712'
	    },
	    type : 'POST',
	    dataType : 'json',
	    traditional : true,
	    success : function(data) {
		if (data.success) {
		} else {
		    layeralert(data.msg, 0);
		}
	    },
	    error : function(data, status, e) {
		if (data.status == "401") {
		    layeralert("没有权限！", 0);
		    return;
		}
	    }
	});
    }
    //重置按钮    
    function searchReset() {
	$("#formSubmit").find(":input").val("");
	$("#formSubmit").submit();
    }
</script>